
.navbar {
	margin :0px;
} 

ul.sidebar-nav {
 list-style: none;
}

.sidebar-nav a {
    color: #777;
}

.sidebar-nav a:hover{
    color: #333;
    font-size: 120%;
    text-decoration: none;
}

.sidebar-nav{
	background-color: #F8F8F8;
    border-color: #e7e7e7;
	min-height: 100vh;
	padding-top: 30px;
	color: #777;
    font-size: 1.2vw;
}

