/* COLORSCHEME

BACKGROUND:
  NAVBARS: #f8f8f8
  CONTENTAREA: #ffffff
  FOOTER: #f8f8f8

BORDER FOOTER AND NAVS: #e7e7e7

FONTS:
  NAVBARS: #777

*/

/*---------------------- BODY -------------------------------*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* ---------------------- TOP NAVBAR ------------------------- */
.navbar {
  border-top: 0;
  position: fixed;
}
.topbar {
  width: 105%;
}

.headerAlign {
  margin-left: 22%;
}

.sidebar {
  width: 14%;
}

ul.sidebar-nav {
 list-style: none;
}

.sidebar-nav>div {
  display: inherit !important;
}

.sidebar-nav li {
  height: 50px;
  border-bottom: 1px #e5e5e5 solid;
}
.sidebar-nav li:hover {
  color: #4C5760;
}

.sidebar-nav a {
  display: block;
  color: #777;
  padding: 15px 0 15px 15px;
}

.sidebar-nav a:hover{
    color: #4C5760;
    text-decoration: none;
}

.sidebar-nav{
	background-color: #f8f8f8;
	min-height: 100vh;
	color: #777;
  font-size: 15px;
}

.sidebarOnActive {
  background-color: #e7e7e7;
}

/*----------------------OWN CLASSES ------------------- */
.border-left {
  border-left: 8px solid;
}
.border-left>.panel-heading {
  border-top-left-radius: 0px;
}

.userMessage {
  margin-top: 10px;
  margin-bottom: 0px;
}

.onHover:hover {
  cursor: pointer;
  color: #4C5760;
  transform: scale(1.1,1.1);
}
.onHover:active {
  transform: scale(1,1);
}

.vCenterIcon {
  vertical-align: sub !important;
  margin-right: 10px;
}
.hCenter {
  display: block;
  margin: auto;
}

.vSpacing {
  margin-bottom: 5px;
}

.marginTop {
  margin-top: 15px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop50 {
  margin-top: 50px;
}

.marginButtom10 {
  margin-bottom: 10px;
}

.marginLeft20 {
  margin-left: 20px;
}

.formButtonMargin {
  margin-top: 30px;
  margin-bottom: 10px;
}

.removePadding {
  padding: 0px;
}

.padding4 {
  padding: 5px;
}

.removeMargin {
  margin: 0px;
}

.fontColor {
  color: #777;
}

.likedFeedback {
  color: #046281;
  transform: scale(1.1,1.1);
}

.questionAlternatives {
  min-height: 20px !important;
  padding: 0px !important;
}

.mediumButton {
  width: 50%;
  height: 50px;
}

.bigButton {
  width: 100%;
  height: 50px;
}

.fixedTable{
  table-layout: fixed;
}

.radioButtons{
  vertical-align: top;
  margin-right: 3px !important;
  margin-left: 15px !important;
}

/*----------------------BOOTSTRAP CLASSES ---------------------------------*/
.jumbotron {
  margin-top: 30px;
}
.jumbotron p, h1,h2,h3,h4,h5,h6{
  font-family: 'Futura', sans-serif;
}

.panel-info {
  border-color: #4C5760;
}
.panel-info li {
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.btn-info {
  background-color: #4C5760;
  border-color: #4C5760;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #777 !important;
  border-color: #777 !important;
}

.panel-info>.panel-heading {
  background-color: #4C5760;
  border-color: #4C5760;
  color: #fff;
}

/* ------------------- FOOTER -------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

/* ------------------- Index Page --------------------- */
.notAuthenticated {
  display: block !important;
}


#feedback {
    max-width: 50vw;
    height: 25vh;
    font-size:14pt;
    overflow-y: auto;;

}


#subject-selector {
    max-width: 50vw;
}

#lecture-selector {
    max-width: 50vw;
}
