/* COLORSCHEME

BACKGROUND:
  NAVBARS: #f8f8f8
  CONTENTAREA: #ffffff
  FOOTER: #f8f8f8

BORDER FOOTER AND NAVS: #e7e7e7

*/

/*---------------------- BODY -------------------------------*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* ---------------------- TOP NAVBAR ------------------------- */
.navbar {
	margin: 1px;
}

.headerAlign {
  margin-left: 20%;
}

ul.sidebar-nav {
 list-style: none;
}

.sidebar-nav li {
  margin-top: 5px;
}

.sidebar-nav a {
  margin: auto;
    color: #777;
}

.sidebar-nav a:hover{
    color: #333;
    text-decoration: none;
}

.sidebar-nav{
	background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
	min-height: 100vh;
	padding-top: 30px;
	color: #777;
  font-size: 15px;
}
/*----------------------OWN CLASSES ------------------- */
.border-left {
  border-left: 10px solid #d9edf7;
}


/* ------------------- FOOTER -------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

/* ------------------- Index Page --------------------- */
.notAuthenticated {
  display: block !important;
}


#feedback {
    max-width: 50vw;
    height: 25vh;
    font-size:14pt;
    overflow-y: scroll;
}

#subject-selector {
    max-width: 50vw;
}

#lecture-selector {
    max-width: 50vw;
}
